/* Header.css */

.header {
    padding-top: 3.5rem;
    padding-bottom: 0.5rem;
    width: 95%;
    background: #1e1e2f;
    /* dark background */
    color: #ffffff;
    /* white text */
    padding-left: 2%;
    padding-right: 20%;
    margin-right: 20%;
    display: flex;
    justify-content: space-between;
    /* space items evenly */
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    font-family: Arial, sans-serif;

}

.header h3 {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
}

@media (max-width: 600px) {
    .header {
        flex-direction: column;
        /* stack items vertically on mobile */
        align-items: flex-start;
        gap: 5px;
    }

    .header h3 {
        font-size: 14px;
    }
}